/* comenta este estilo y comprueba a ver qué pasa */
#paragraph {
  background-color: blue;
}

/* comenta este estilo y comprueba a ver qué pasa */
.paragraph {
  background-color: green;
}

/* comenta este estilo y comprueba a ver qué pasa */
p {
  background-color: red;
}
