/* comment on this style and see what happens */
#paragraph {
  background-color: blue;
}

/* comment on this style and see what happens */
.paragraph {
  background-color: green;
}

/* comment on this style and see what happens */
p {
  background-color: red;
}
