/* fonts */

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2') format('woff2'),
    url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff2') format('woff2'),
    url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* reset styles */

* {
  box-sizing: border-box;
}

html {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
}

/* header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

.header__logo {
  margin: 0.3125rem 0 0 1.25rem;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: perspective(100px) rotateY(0deg);
  }
  to {
    transform: perspective(100px) rotateY(360deg);
  }
}

.header__logo__img {
  width: 5.5625rem;
}

.header__menu__item {
  display: inline-block;
}

.header__menu__link {
  display: inline-block;
  padding: 1.75rem 1.0625rem;
  font-size: 1rem;
  color: white;
}

.header__menu__link:hover {
  color: #1ed760;
}

/* main */

.main {
  margin-top: 4.625rem;
}

.main__header {
  background: #509bf5;
  height: 50vh;
  color: white;
}

/* premium */

.premium {
  margin: 0 auto;
  max-width: 500px;
}

.premium__header {
  text-align: center;
}

.premium__title {
  display: inline-block;
  font-size: 48px;
  font-weight: 900;
}

.premium__features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.premium__features__list {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  list-style: none;
  border-radius: 30px;
  border: transparent solid 5px;
  transition: background-color 2s linear;
}

.premium__features__list:hover {
  /* background se aplica suavecito */
  background: #509bf5;
  /* border se aplica bruscamente */
  border: #4285f4 solid 5px;
}

.premium__features__text {
  padding: 16px 10px 0 10px;
}

.premium__features__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 21px;
}

.premium__features__desc {
  font-size: 16px;
}

.premium__features__img {
  width: 97px;
}

@media all and (min-width: 768px) {
  .premium {
    max-width: 768px;
  }

  .premium__features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .premium__features__list {
    width: 50%;
  }
}

@media all and (min-width: 1200px) {
  .premium {
    max-width: 1200px;
  }

  .premium__features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .premium__features__list {
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
  }
}

/* footer */

.footer {
  display: flex;
  align-items: flex-end;
  padding: 1.25rem;
  background: black;
  font-size: 0.75rem;
  color: #919496;
}

.footer__menu {
  flex-grow: 1;
}

.footer__menu__list {
  position: relative;
  left: -0.75rem;
  list-style: none;
}

.footer__menu__item {
  display: inline;
}

.footer__menu__link {
  padding: 0.75rem;
  color: #919496;
}

.footer__menu__link:hover {
  color: white;
}

.footer__copy {
  text-align: right;
}

.footer__lang {
  padding-bottom: 0.625rem;
}

.footer__lang__img {
  margin-left: 0.3125rem;
  width: 1.25rem;
  vertical-align: text-bottom;
}
